/* .filter-list__item {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
      } 
    */

/* .filter-list__item:hover {
    color: #B672FF;
    cursor: pointer;
    text-decoration-line: underline;
  } */

.filter-list__author {
  padding: 90px 34px 34px 34px;
}

.filter-list__year {
  padding: 150px 34px 34px 34px;
}

.filter-list__genre {
  padding: 3px 34px 34px 34px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  border-radius: 12px;
  background: #313131;
  height: 305px;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 40px;
}

.filter-list::-webkit-scrollbar {
  background-color: #4B4949;
  width: 4px;
}


.filter-list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}